html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.sidebar {
    width: 320px;
    min-width: 250px;
    max-width: 480px;
    height: 100vh;
}

.main-content {
    height: 100vh;
    overflow-y: auto;
}

.resizer {
    width: 5px;
    cursor: col-resize;
    background-color: var(--bs-border-color);
    transition: background-color 0.2s ease;
    z-index: 10;
}

.resizer:hover, .resizer:active {
    background-color: var(--bs-primary);
    width: 5px;
}