html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.sidebar {
    width: 320px;
    height: 100vh;
    border-right: 1px solid var(--bs-border-color);
}

.main-content {
    height: 100vh;
    overflow-y: auto;
}
