{% extends "bookmarks/layout.html" %} 
{% load static %}

{% block title %}
    LinkStash
{% endblock %}

{% block body %}

    <div class="d-flex flex-row">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar d-flex flex-column bg-body-tertiary p-4">
            
            <!-- Title -->
            <a href="{% url 'index' %}" class="d-flex align-items-center text-decoration-none text-body">
                <span class="fs-3 fw-bold">LinkStash</span>
            </a>
            <hr class="my-3">

            <!-- Sidebar Main Content -->
            <div id="sidebar-content" class="flex-grow-1 overflow-y-auto mb-3">
                <p class="text-muted fw-semibold mb-2 text-uppercase">My Stash</p>


                <ul id="root-list" class="tree-list">
                    <li class="tree-folder folder-expanded">
                        <div class="tree-item">
                            <i class="bi bi-caret-right-fill tree-caret-icon"></i>
                            <i class="bi bi-folder-fill tree-folder-icon"></i>
                            <span> Folder Name </span>
                        </div>

                        <ul class="tree-list">  
                            <li>
                                <a class="tree-item active">
                                    <i class="bi bi-link-45deg tree-bookmark-icon"></i>
                                    <span>Bookmark1</span>
                                </a>
                            </li>
                            <li>
                                <a class="tree-item">
                                    <i class="bi bi-link-45deg tree-bookmark-icon"></i>
                                    <span>Bookmark2</span>
                                </a>
                            </li>

                            <li id="folder" class="tree-folder folder-collapsed folder-empty">
                                <div class="tree-item">
                                    <i class="bi bi-caret-right-fill tree-caret-icon"></i>
                                    <i class="bi bi-folder-fill tree-folder-icon"></i>
                                    <span> Folder Name 2</span>
                                </div>
        
                                <ul class="tree-list">  
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="tree-item">
                            <i class="bi bi-link-45deg tree-bookmark-icon"></i>
                            <span>Bookmark3</span>
                        </a>
                    </li>
                    
                </ul>
            </div>

            <!-- Sidebar Dropdown -->
            <div class="dropdown">
                <a class="d-flex align-items-center dropdown-toggle text-decoration-none text-body" 
                   data-bs-toggle="dropdown" aria-expanded="false">

                    <div class="bg-primary text-white rounded-circle d-flex align-items-center justify-content-center me-2" 
                         style="width: 35px; height: 35px; font-weight: 700;">
                        {{ request.user.username|slice:":1"|upper }}
                    </div>
                    
                    <strong>{{ request.user.username }}</strong>
                </a>

                <ul class="dropdown-menu dropdown-menu-dark text-small shadow w-100" id="user-dropdown-menu">
                    <li><a class="dropdown-item" href="#"><i class="bi bi-gear me-2"></i>Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-danger" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right me-2"></i>Sign Out</a></li>
                </ul>
            </div>
            
        </div>

        <div id="sidebar-resizer" class="resizer rounded-pill"></div>

        <!-- Main Content -->
        <div id="main-content" class="main-content bg-body flex-grow-1 p-3">
            <div class="d-flex justify-content-between align-items-center mt-1 mb-3">

                <!-- Search Bar -->
                <div>
                    <div class="input-group input-group-sm" style="width: 350px;">
                        <span class="input-group-text bg-body border-secondary-subtle" id="search">
                            <i class="bi bi-search text-muted"></i>
                        </span>
                        <input type="text" class="form-control bg-body border-secondary-subtle" placeholder="Search stash..." aria-label="Search" aria-describedby="search">
                    </div>
                </div>

                <button class="btn btn-primary btn-sm"><i class="bi bi-plus-lg me-1"></i>Add Bookmark</button>
            </div>

            <div class="card p-5 text-center border">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Stash is empty.</h5>
                    <p class="card-text text-muted">Create a folder or add some bookmarks.</p>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'bookmarks/js/main.js' %}"></script>
{% endblock %}
